<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Road Rage</title>
</head>
<body>


    <h1>Road Rage</h1>
    <h3>Informatics solutions for travel convenience</h3>
    <p><b>About</b> Our goal is to create a community of people that will contribute to better transportation</p>
    <navbar>
        <a href=""><span>Home</span></a>
        <a href="sign_in"><span>Sign in</span></a>
        <a href="sign_up"><span>Sign up</span></a>
    </navbar>


    {% block content %}{% endblock %}

</body>
</html>
